name = "wise-favorites-worker"
compatibility_flags = ["nodejs_compat"]
compatibility_date = "2024-09-23"

[observability]
enabled = true

#----------------------------------------
# lines below are what you should modify
#----------------------------------------

[vars]

# API AUTH
BEARER_TOKENS = ["token_1", "token_2"]

# preset tags, chatgpt will choose 2~5 tags from this list
TAGS = [
  "opensource",
  "awesome",
  "buildinpublic",
  "mactips",
  "iOStips",
  "dev",
  "startup",
  "tool",
  "AI",
  "chatgpt",
  "LLM",
  "RAG",
  "cloudflare",
]

# LinkPreview ACCESS KEY, visit https://www.linkpreview.net/
[vars.LINKPREVEW]
API_KEY = "changethis"  # access key in LinkPreview

# OPENAI 
[vars.OPENAI]
API_KEY = "changethis"
BASE_PATH = "https://api.openai.com/v1"
MODEL = "gpt-4o-mini"

# send message to telegram, need bot token & channel_id.
# optional
[vars.TELEGRAM]
BOT_TOKEN = "changethis"
CHANNEL_ID = "changethis"

# send to github
# optional
[vars.GITHUB]
ACCESS_TOKEN = "changethis"
OWNER = "changethis"
REPO = "changethis"